body {
    margin: 0;
    padding: 0;
    background-color: #1e1e1e; /* Changed background color to dark grey */
    color: #ccc;
    margin-top: 0; /* Added margin-top property to remove the space at the top */
}

textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #ccc;
    background-color: #1e1e1e; /* Changed background color to dark grey */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease;
}

textarea:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 2px 4px rgba(0, 123, 255, 0.25);
}

.sidebar {
    width: 200px;
    background-color: #252526; /* Changed background color to a darker grey */
    padding: 20px;
    float: left;
    height: 100vh; /* Added height property to make it take up the entire screen vertically */
}

.sidebar h2 {
    margin-top: 0;
    color: #ccc; /* Changed text color to light grey */
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 10px;
}