body,
#root {
	display: flex;
	flex-direction: column;
	height: 100vh;
	margin: 0;
}

h1 {
	padding: 15px 40px;
	height: 40px;
}

hr {
	border: #333;
	border-top: 2px solid #333;
	color: #333;
	width: 100vw;
	height: 5px;
	padding-top: 0;
	margin-top: 0;
}

.workspace {
	border: 2px solid black;
	border-radius: 10px;
	margin: 10px;
	padding: 15px 15px;
	flex-grow: 1;
}

.task {
	min-width: "100px";
	min-height: "20px";
	display: "inline-block";
	border: "1px solid #ccc";
}
