body,
#root {
	display: flex;
	flex-direction: column;
	height: 100vh;
	margin: 0;
	background-color: #2b2b2b;
	color: #f5f5f5;
}

h1 {
	padding: 15px 40px;
	height: 40px;
	color: #f5f5f5;
}

hr {
	border: #333;
	border-top: 2px solid #333;
	color: #333;
	width: 100vw;
	height: 5px;
	padding-top: 0;
	margin-top: 0;
}

.workspace {
	border: 2px solid #444;
	border-radius: 10px;
	margin: 10px;
	padding: 15px 15px;
	flex-grow: 1;
	background-color: #3c3c3c;
}

.task {
	min-width: "100px";
	min-height: "20px";
	display: "inline-block";
	border: "1px solid #ccc";
	background-color: #4c4c4c;
	color: #f5f5f5;
}

.item-container {
	display: flex;
	align-items: center;
}

.item-checkbox {
	margin-right: 10px;
}

.item-form,
.item-text {
	flex: 1;
}

.item-input {
	width: 100%;
}
